@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Poa Descarte App</h1>
</div>

<p>
    <h3>Clique na categoria de lixo que quer descartar</h3>
    <a href="@Url.Action("Index", "Home")">
        <img src="~/images/1_Paper.jpg" />
    </a>
    <a href="@Url.Action("Index", "Home")">
        <img src="~/images/2_Glass.jpg" />
    </a>
    <a href="@Url.Action("Index", "Home")">
        <img src="~/images/3_Metal.jpg" />
    </a>
    <a href="@Url.Action("Index", "Home")"/>
    </a>
    <a href="@Url.Action("Index", "Home")">
        <img src="~/images/5_Plastic.jpg"  />
    </a>
    <a href="@Url.Action("Index", "Home")">
        <img src="~/images/6_Organic.jpg" />
    </a>
</p>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
